@font-face {
  font-family: "prisma-companion-dashicon";
  src: url("../fonts/pc-icon.eot");
  src: url("../fonts/pc-icon.eot#iefix") format("embedded-opentype"), url("../fonts/pc-icon.ttf") format("truetype"), url("../fonts/pc-icon.woff") format("woff"), url("../fonts/pc-icon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.dashicons-si-brand:before {
  font-family: "prisma-companion-dashicon" !important;
  content: "\e900" !important;
  font-size: 13px !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}