.prisma-companion-custom-list-widget .pc-custom-list-widget-items {
  margin-top: 1.125rem;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 1.125rem;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item .pc-widget-icon {
  width: 1.05em;
  font-size: 1.125em;
  margin-right: 0.75em;
  position: relative;
  top: 0.25em;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item i.pc-icon {
  width: 1.05em;
  font-size: 1.12em;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item svg,
.prisma-companion-custom-list-widget .pc-custom-list-widget-item .pc-icon {
  margin-right: 0.75em;
  position: relative;
  top: 0.3em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item svg {
  fill: currentColor;
  height: auto;
  width: 1.12em;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item.pc-clw-sep {
  margin-bottom: 2.3rem;
}
.prisma-companion-custom-list-widget .pc-custom-list-widget-item.pc-clw-sep:after {
  content: "";
  position: absolute;
  bottom: -1.15rem;
  width: 100%;
  height: 1px;
  background-color: var(--elementBorderColor, #eaeaea);
}

.pc-posts-list-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pc-posts-list-widget:last-child {
  margin-bottom: 0;
}

.pc-posts-list-widget-thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px;
}
.pc-posts-list-widget-thumb img {
  border-radius: 2px;
  max-width: 75px;
}
.pc-posts-list-widget-thumb .post-thumb-caption {
  display: none;
}

.pc-posts-list-widget-title {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 6px;
}

.pc-posts-list-widget-meta {
  font-size: 0.8125em;
  line-height: 1;
}
.pc-posts-list-widget-meta .pc-icon {
  height: 1em;
  margin-right: 6px;
  vertical-align: middle;
}
.pc-posts-list-widget-meta > span {
  padding-right: 16px;
}
.pc-posts-list-widget-meta > span:last-child {
  padding-right: 0;
}
.pc-posts-list-widget-meta > span:last-child:after {
  display: none;
}
.pc-posts-list-widget-meta > span:after {
  content: "";
  height: 1em;
  width: 1px;
  background-color: currentColor;
  display: inline-block;
  position: relative;
  right: -8px;
  top: -1px;
  vertical-align: middle;
}